<footer>
    <div class="footer-container">
        <div class="left">
            <div class="left-content">
                <img  class="footer-logo" src="/images/logo.png" alt="logo">
                <p>Every item has Story;
                    Let It begin anew.
                </p>
            </div>

             </div>
        <div class="middle">
            <div class="footer-info">
                <p class="footer-title">Newsletter</p>
                <p class="footer-description">Subscribe to our newsletter</p>
            </div>
            <form class="newsletter-form" action="/newsletter" method="POST">
                <input type="text" class="email-input" placeholder="Enter your email" required>
                <button class="newsletterBtn" type="submit">Subscribe</button>
            </form>
        </div>
        <div class="right">
            <div class="footer-info">
                <p class="footer-title">Social</p>
                <p class="footer-description">Follow us on social media</p>
            </div>

            <div class="social-container">
                <a href="https://www.facebook.com" target="_blank"><img class="social-icon" src="/images/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com" target="_blank"><img class="social-icon" src="/images/instagram.png" alt="Instagram"></a>
                <a href="https://www.twitter.com" target="_blank"><img class="social-icon" src="/images/twitter.png" alt="Twitter"></a>
                <a href="https://www.linkedin.com" target="_blank"><img class="social-icon" src="/images/linkedin.png" alt="LinkedIn"></a>
            </div>
        </div>
    </div>
</footer>