<footer>
    <div class="footer-container">
        <div class="left">
            <div class="left-content">
                <img  class="footer-logo" src="/images/logo.png" alt="logo">
                <p>Every item has Story;
                    Let It begin anew.
                </p>
            </div>

             </div>
        <div class="middle"></div>
        <div class="right"></div>
    </div>
</footer>