<footer>
    <div class="footer-container">
        <div class="left">
            <div class="left-content">
                <picture>
                    <source srcset="/images/logo.avif" type="image/avif" media="(min-width: 1024px)">
                    <source srcset="/images/logo.webp" type="image/webp" media="(min-width: 1024px)">
                    <img  class="footer-logo" loading="lazy" src="/images/logo.png" alt="logo" media="(min-width: 1024px)">
                </picture>
                <p>Every item has Story;
                    Let It begin anew.
                </p>
            </div>

             </div>
        <div class="middle">
            <div class="footer-info">
                <p class="footer-title">Newsletter</p>
                <p class="footer-description">Subscribe to our newsletter</p>
            </div>
            <form class="newsletter-form" action="/newsletter" method="POST">
                <input type="text" class="email-input" placeholder="Enter your email" required>
                <button class="newsletterBtn" type="submit">Subscribe</button>
            </form>
        </div>
        <div class="right">
            <div class="footer-info">
                <p class="footer-title">Social</p>
                <p class="footer-description">Follow us on social media</p>
            </div>

            <div class="footer-social-container">
                <a href="#" target="_blank" class="footer-social-icon"><i class="fa-brands fa-youtube"></i></a>
                <a href="#" target="_blank" class="footer-social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" target="_blank" class="footer-social-icon"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank" class="footer-social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#" target="_blank" class="footer-social-icon"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>