<div class="login-popup user-popup">
    <h2>Login</h2>
    <form action="/login" method="post">
        <input type="email" name="email" id="loginEmail" placeholder="Email" required />
        <input type="password" name="password" id="loginPassword" placeholder="Password" required />
        <p>Don't have an account? <a class="signupBtn" style="color: blue;">Sign up</a></p>
        <button class="userBtn" type="submit">Login</button>
    </form>
</div>

<div class="signup-popup user-popup">
    <h2>Signup</h2>
    <form action="/signup" method="post" enctype="multipart/form-data">
        <!-- Profile Picture Upload -->
        <label for="profilePicture" class="profile-picture-label">
            <div id="profilePictureDiv" class="profile-picture-div">
                <div class="profile-picture-text">Upload</div>
                <img id="imagePreview" src="/images/default-avatar.png" alt="Image Preview" />
            </div>
        </label>
        <input type="file" name="profilePicture" id="profilePicture" accept="image/*" onchange="previewImage(event)" style="display: none;" />
        <input type="text" name="name" id="name" placeholder="Name" required />
        <input type="number" name="phoneNo" id="signupPhoneNo" placeholder="Phone Number" required />
        <input type="email" name="email" id="signupEmailId" placeholder="Email" required />
        <input type="password" name="password" id="signupPassword" placeholder="Password" required />
        
        
        
        <p>Already have an account? <a class="loginBtn" style="color: blue;">Login</a></p>
        <button class="userBtn" type="submit">Sign up</button>
    </form>
</div>

<script>
    // JavaScript to preview the uploaded image
    function previewImage(event) {
        const imagePreview = document.getElementById('imagePreview');
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        } else {
            imagePreview.src = '/default-avatar.png'; // Default avatar if no file is selected
        }
    }
</script>