<nav>
  <div class="navbar">
    <div class="navbar-logo">
      <img class="logo" src="/images/logo.png" />
      <h1>SWAPNEST</h1>
    </div>
    <div class="navbar-links">
      <a class="nav-link-item active" href="/home">HOME</a>
      <a class="nav-link-item" href="/about">ABOUT US</a>
      <a class="nav-link-item" href="/contact">CONTACT US</a>
      <a class="nav-link-item" href="/contact">FAQ</a>
      <a class="nav-link-item" href="/login">LOGIN</a>
      <div class="nav-link-item navbar-sellBtn" href="/sell">SELL</div>
    </div>
</nav>