<div class="product">
    <img loading="lazy" class="product-image" src="<%=images[0]%>" />
    <div class="product-title">
      Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G
    </div>
    <div class="product-description">
        <span class="offer">₹5,399</span>
        <span class="amount">₹8,999</span>
        <span class="discount">40% off</span>

    </div>
  </div>