body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-size: 1rem;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary, #261fb3);
}


body {
  overflow-x: hidden;
}

nav {
  background: #ffffff;
  height: 90px;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;

  .navbar {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;

    .navbar-logo::-moz-focus-inner,
    .navbar-logo:focus {
      outline: none;
    }

    .navbar-logo {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 1rem;
      text-decoration: none;

      h1 {
        color: var(--secondary, #261fb3);
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .navbar-searchbar-container {
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .navbar-searchbar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45%;
      height: 100%;
      padding: 0 2rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 20%;
      margin: auto 0;

      input {
        width: 80%;
        height: 3rem;
        border-radius: 20px 0 0 20px;
        border: 3px solid var(--primary, #fbe4d6);
        border-right: none;
        padding-left: 1rem;
        font-size: 1rem;
        background-color: transparent;
        color: #000000;
      }

      input:focus {
        outline: none;
      }

      .search-btn {
        width: 10%;
        height: 3rem;
        padding-right: 1rem;
        border-radius: 0 20px 20px 0;
        border: 3px solid var(--primary, #fbe4d6);
        border-left: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: var(--secondary, #261fb3);
      }

      .search-btn:hover {
        color: var(--fourth, #0c0950);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.hamburger-menu {
  display: none;
}

.search-suggestions-popup {
  position: absolute;
  width: 37%;
  left: 24%;
  padding: 1rem;
  background-color: #fff;
  top: 80%;
  display: none;
  border: 3px solid var(--primary, #fbe4d6);
  border-radius: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.search-suggestions-popup::-webkit-scrollbar {
  width: none;
}

.search-suggestions-popup.active {
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  max-height: 15rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.3rem;
  align-self: center;
  justify-content: end;
}

.nav-link-item {
  color: #000000;
  text-align: center;
  font-size: 0.8rem;
  position: relative;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

a.nav-link-item.active {
  color: var(--secondary, #261fb3);
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: 2px solid var(--secondary, #261fb3);
}

.navbar-sellBtn {
  background: var(--secondary, #261fb3);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--primary, #fbe4d6);
  border-width: 1px;
  width: 7rem;
  height: 2.5rem;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.hero {
  background: linear-gradient(111.27deg,
      rgba(38, 31, 179, 1) 0%,
      rgba(11, 15, 82, 1) 32.79275596141815%,
      rgba(19, 24, 133, 1) 65.5855119228363%);
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 50%;
    gap: 2rem;
    padding-left: 3rem;

    h1 {
      color: #ffffff;
      text-align: left;
      font-size: 3rem;
      font-weight: 700;
    }

    p {
      color: #ffffff;
      text-align: left;
      font-size: 1.5rem;
    }
  }

  .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-self: flex-end;
    justify-self: flex-end;
    justify-self: end;

    .hero-img {
      height: 80%;
      padding: 1rem;
      object-fit: cover;
      background-color: #fff;
      border-radius: 25px;
    }
  }
}

.heroBtns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.heroBtn,
.userBtn {
  background: var(--primary, #fbe4d6);
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212beb;
  font-weight: 700;
  cursor: pointer;
}

.heroBtn-signup,
.userBtn {
  background-color: var(--secondary, #261fb3);
  color: #ffffff;
  border: #fff solid 3px;
}

.categories-list {
  height: 11rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
  padding: 0 2rem;

  .categories-title {
    font-size: 1.5rem;
  }

  .categories-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .category-card {
    background: var(--primary, #fbe4d6);
    border-radius: 15px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    min-width: 137px;
    min-height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .category-img {
      width: 80%;
      height: 65%;
      overflow: visible;
      object-fit: cover;
      border-radius: 1rem;
      overflow: hidden;
    }

    .category-name {
      color: #000000;
      text-align: left;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.scrollable-content::scroll-marker {
  display: none;
}

.scroller {
  position: absolute;
  top: 50%;
  /* Center vertically */
  transform: translateY(-50%);
  width: 3rem;
  height: 100%;
  color: var(--primary, " #fbe4d6);");
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.scroller-left {
  left: 0;
  background: linear-gradient(-90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.85) 30%,
      rgba(255, 255, 255, 0.95) 50.72094202041626%,
      rgba(255, 255, 255, 1) 100%);
}

.scroller-right {
  right: 0;
  background: linear-gradient(-90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.95) 30%,
      rgba(255, 255, 255, 0.85) 50.72094202041626%,
      rgba(255, 255, 255, 0) 100%);
}

.scroller i {
  font-size: 1.5rem;
}

.scroller.disabled {
  opacity: 0.5;
  pointer-events: none;
}

footer {
  width: 100%;
  height: 40vh;
}

.footer-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(111.27deg,
      rgba(38, 31, 179, 1) 0%,
      rgba(11, 15, 82, 1) 32.79275596141815%,
      rgba(19, 24, 133, 1) 65.5855119228363%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    .left-content {
      .footer-logo {
        height: 5rem;
        object-fit: cover;
        filter: brightness(10);
      }

      p {
        color: var(--primary, #fbe4d6);
        font-family: "Vina Sans", sans-serif;
        width: 15rem;
        font-size: 1.9rem;
        margin-bottom: 1rem;
      }
      .LPU {
        color:#f2630a;
        font-family: "Merriweather", sans-serif;
        /* width: 10rem; */
        font-size: 0.85rem;
        font-weight: 500;
        border: white dashed 1px;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        
        
        a{
          text-decoration: none;
          color:#f2630a;
        }
      }
    }
  }

  .middle {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-info {
    height: 50%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0;

    .footer-title {
      color: var(--primary, #fbe4d6);
      font-size: 1.5rem;
      font-weight: 700;
    }

    .footer-description {
      color: var(--primary, #fbe4d6);
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .newsletter-form {
    height: 18%;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .email-input {
    width: 70%;
    height: 100%;
    border: 3px solid var(--primary, #fbe4d6);
    padding-left: 2rem;
    font-size: 1rem;
    border-radius: 50px 0 0 50px;
    background-color: transparent;
    color: var(--primary, #fbe4d6);
  }

  .email-input:focus {
    outline: none;
  }

  .newsletterBtn {
    width: 25%;
    height: 100%;
    border: none;
    padding: 0 0.5rem;
    font-size: 1rem;
    border-radius: 0 50px 50px 0;
    background-color: var(--primary, #fbe4d6);
    color: var(--secondary, #261fb3);
    font-weight: 700;
  }

  .right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.product {
  min-width: 10rem;
  min-height: 14rem;
  max-width: 10rem;
  max-height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-image {
  width: 75%;
  height: 70%;
  object-fit: cover;
  aspect-ratio: 122/148.63;
}

.product-title {
  color: #000000;
  text-align: center;
  font-family: "Merriweather-Light", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
}

.offer {
  color: #000000;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 700;
}

.amount {
  color: #000000;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: line-through;
}

.discount {
  color: var(--tertiary, #161179);
  text-align: left;
  font-size: 0.75rem;
  font-weight: 700;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-top: 0.5px solid #00000030;
  overflow-x: scroll;

  .products-title {
    font-size: 1.5rem;
  }

  .products-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    .product-card {
      background: var(--primary, #fbe4d6);
      border-radius: 15px;
      border-style: solid;
      border-color: #000000;
      border-width: 1px;
      width: 137px;
      height: 142px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.footer-social-container {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer-social-icon {
  background-color: var(--fourth, #0c0950);
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}

.footer-social-icon i {
  color: transparent;
  font-size: 1.3rem;
  -webkit-text-stroke: 0.25px var(--primary, #fbe4d6);
}

.footer-social-icon:hover i {
  color: var(--primary, #fbe4d6);
  transition: all 0.3s ease-in-out;
}
.develop{
  color: #f2630a;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0.45rem;
  text-decoration: none;
  border: white dashed 1px;
  border-radius: 7px;
  /* width: 15rem; */
  align-self: center;
  padding: 0.5rem;
  a{
    text-decoration: none;
    color: #f2630a;
  }
}
.user-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--primary, #fbe4d6);
  padding: 2rem;
  flex-direction: column;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  display: none;
  z-index: 3000;

  h2 {
    color: var(--secondary, #261fb3);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    height: 10%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;

    p a {
      text-decoration: none;
    }

    input {
      width: 80%;
      height: 3rem;
      border-radius: 50px;
      border: 3px solid var(--primary, #fbe4d6);
      padding-left: 1rem;
      font-size: 1rem;
      background-color: #fff;
      color: #000000;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input:focus {
      outline: none;
    }

    .popup-btn {
      width: 80%;
      height: 3rem;
      border-radius: 50px;
      border: none;
      background-color: var(--secondary, #261fb3);
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

.login-popup {
  height: 20rem;
  width: 30rem;
}

.signup-popup {
  height: 33rem;
  width: 30rem;
}

.userBtn {
  height: 2.5rem;
  width: 7rem;
}

.active {
  display: flex !important;
}

.scrollable-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 2rem;
  gap: 1rem;
  overflow-x: scroll;
  /* Hide scrollbar */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
}

.flash-message {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

.flash-message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.flash-message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

@media screen and (max-width: 768px) {
  .navbar-logo {
    h1 {
      display: none;
    }

  }

  .navbar-searchbar-container {
    display: none !important;
  }

  .navbar-links {
    display: none;
  }

  .hamburger-menu.open+.navbar-links {
    padding: 1rem 0;
    height: fit-content;
    width: 50vw;
    display: flex;
    position: absolute;
    z-index: 1000;
    top: 5.65rem;
    right: 0;
    background-color: var(--primary, #fbe4d6);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav-link-item {
      height: fit-content;
    }
  }

  .navbar {
    justify-content: space-between;
  }

  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  .wrapper-menu {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }

  .wrapper-menu.open {
    transform: rotate(-45deg);
  }

  .line-menu {
    background-color: var(--secondary, #261fb3);
    border-radius: 5px;
    width: 100%;
    height: 6px;
  }

  .line-menu.half {
    width: 50%;
  }

  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }

  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }

  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }

  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }

  footer {
    height: fit-content;
  }

  .footer-container {
    padding: 2rem 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .left-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .left,
  .middle,
  .right {
    width: 100% !important;
    justify-content: center;
    align-items: center;
  }

  .footer-info {
    flex-direction: column;
    width: 100% !important;
  }

  .footer-title {
    text-align: center;
    font-size: 2rem !important;
  }

  .footer-description {
    text-align: center;
    font-size: 1rem !important;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important;

    input {
      width: 55% !important;
      height: 3rem !important;
    }

    .newsletterBtn {
      width: 30% !important;
      height: 3rem !important;
    }
  }

  .footer-social-icon i {
    color: white;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 50vh;

    .right {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;

      .hero-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: transparent;
      }
    }

    .left {
      width: 100% !important;
      height: 40%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      gap: 1rem;
      padding-bottom: 1rem;

      h1 {
        text-align: center;
        font-size: 1.8rem !important;
      }

      p {
        text-align: center;
        font-size: 1.2rem !important;
      }

      .heroBtns {
        gap: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }


  .user-popup form {
    margin-top: 1rem;
  }

  .login-popup {
    height: 20rem;
    width: 20rem;

  }

  .signup-popup {
    height: 30rem;
    width: 20rem;
  }

  .categories-list {
    height: 6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
    padding: 0 2rem;
    padding: 0 0.5rem;

    .categories-title {
      font-size: 1rem;
      text-align: center;
      height: 20%;
    }

    .categories-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80%;

      .scrollable-content {
        height: 100%;

        .category-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          aspect-ratio: 142/137;
          min-height: 100%;
          max-height: 100%;
          max-width: 70px;
          min-width: 80px;
          gap: 0.1rem;

          .category-name {
            font-size: 0.75rem;
          }

          .category-img {
            border-radius: 10px;
          }
        }
      }



      .scroller {
        width: 0.5rem;
      }
    }
  }

  .products-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 0;
    padding: 1rem 0.5rem;
    border-top: 0.5px solid #00000030;
    overflow-x: scroll;

    .products-title {
      font-size: 1rem;
      text-align: center;
    }

    .products-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      gap: 1rem;

      .product-card {
        background: var(--primary, #fbe4d6);
        border-radius: 15px;
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .product-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    aspect-ratio: 122/148.63;
  }

  .product-title {
    color: #000000;
    text-align: center;
    font-family: "Merriweather-Light", sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
  }

  .offer {
    color: #000000;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .amount {
    color: #000000;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: line-through;
  }

  .discount {
    color: var(--tertiary, #161179);
    text-align: left;
    font-size: 0.75rem;
    font-weight: 700;
  }

  .offer {
    font-size: 0.8rem;
  }
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  background-image: url("../images/about.webp");
  background-size: cover;
}

.about .left {
  width: 50%;
  display: flex;
  /* justify-content: end;
  align-items: end; */
  flex-direction: column;
  gap: 1rem;
  padding: 0 10rem;

  h1 {
    color: white;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Merriweather", serif;

  }

  h4 {
    color: rgb(27, 25, 25);
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Merriweather", serif;
  }
}
.about-head-link{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}