<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="about">
        <div class="left">
            <a class="about-head-link" href="/"><h1>SwapNest</h1></a>
            <h4>We are commiting to Provide best Quality Refurbished Products to Our Customers.<h4>
            <!-- <h1>Our mission is to provide the best user experience through innovative solutions.</h1> -->
        </div>
        <div class="right">
            
    </div>
</body>