<% layout('layouts/boilerplate.ejs') -%>

<body>
    <div class="hero">
        <div class="left">
            <h1>Buy and Sell Used Items</h1>

            <p>Find Great deals for buy and sell Used and unused items</p>
            <div class="heroBtns">
                <div class="heroBtn-login heroBtn loginBtn" href="/login">Login</div>
                <div class="heroBtn-signup heroBtn signupBtn">Signup</div>
            </div>
        </div>
        <div class="right">
            <img class="hero-img" src="/images/hero.webp" />
        </div>
    </div>


    <div class="categories-list">
    <h2 class="categories-title">Featured Categories</h2>
        <div class="categories-container">
    <% 
    var cards = categories; 
    %>


    <div class="scroller scroller-left"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <div class="scrollable-content">
            <% for (var i = 0; i < cards.length; i++) { %>
                <%- include('../partials/categoryCard.ejs', cards[i]) %>
            <% } %>
        </div>
    <div class="scroller scroller-right"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>
    </div>
    <%products=featuredProducts %>
    <%-include('../partials/productsList.ejs', {listTitle: 'Featured Products', products: products}) %>
    
    <%products=newArrival%>
    <%-include('../partials/productsList.ejs', {listTitle: 'New Arrival', products: products}) %>
    
    <%products=forYou %>
    <%-include('../partials/productsList.ejs', {listTitle: 'For You', products: products}) %>

</body>