<% layout('layouts/boilerplate.ejs') -%>

<body>
    <div class="hero">
        <div class="left">
            <h1>Buy and Sell Used Items</h1>

            <p>Find Great deals for buy and sell Used and unused items</p>
            <div class="heroBtns">
                <div class="heroBtn-login heroBtn" href="/login">Login</div>
                <div class="heroBtn-signup heroBtn" href="/signup">Signup</div>
            </div>
        </div>
        <div class="right">
            <img class="hero-img" src="/images/hero.png" />
        </div>
    </div>


    <div class="categories-list">
    <h2 class="categories-title">Featured Categories</h2>
        <div class="categories-container">
    <% 
    var cards = [
        {categoryImg: '/images/appliances.png',categoryName: 'Electronics' },
        {categoryImg: '/images/appliances.png',categoryName: 'appliances'},
        {categoryImg: '/images/appliances.png',categoryName: 'appliances'},
        {categoryImg: '/images/appliances.png',categoryName: 'appliances'},
    ]; 
    %>


    <% for (var i = 0; i < cards.length; i++) { %>
        <%- include('../partials/categoryCard.ejs', cards[i]) %>
    <% } %>
</div>
    </div>
    <%products=[
        {productImg: '/images/products/3876378udhb89wo8u/1.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
        {productImg: '/images/products/3876378udhb89wo8u/1.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
        {productImg: '/images/products/3876378udhb89wo8u/1.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
        {productImg: '/images/products/3876378udhb89wo8u/1.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
    ]; %>
    <%-include('../partials/productsList.ejs', {listTitle: 'Featured Products', products: products}) %>
    
    <%products=[
        {productImg: '/images/products/3876378udhb89wo8u/2.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
        {productImg: '/images/products/3876378udhb89wo8u/2.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
        {productImg: '/images/products/3876378udhb89wo8u/2.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
        {productImg: '/images/products/3876378udhb89wo8u/2.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
    ]; %>
    <%-include('../partials/productsList.ejs', {listTitle: 'New Arrival', products: products}) %>
    
    <%products=[
        {productImg: '/images/products/3876378udhb89wo8u/3.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
        {productImg: '/images/products/3876378udhb89wo8u/3.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
        {productImg: '/images/products/3876378udhb89wo8u/3.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
        {productImg: '/images/products/3876378udhb89wo8u/3.jpg', productTitle: 'Poco F3 GT (8GB+128GB) Gunmetal Silver, VoLTE Black, 5G', productDescription: '₹5,399', productPrice: '₹8,999', productDiscount: '40% off'},
    ]; %>
    <%-include('../partials/productsList.ejs', {listTitle: 'For You', products: products}) %>

</body>