<%-layout("/layouts/boilerplate.ejs")%>

<div class="offlinePage">
    <header>
        <h1>You are offline</h1>
    </header>
    <main>
        <p>Sorry, the page you are trying to access is not available offline.</p>
        <a href="/">Return to Homepage</a>
    </main>
</div>